.vscode

*.mp3
*.mp4
*.html

*.out
*.bkp
*.log

env/
test_dataset/

12. Convert to audioset/audiocraft

13. CLAP/imgs

14. Baselines/GVMGen/checkpoints
14. Baselines/GVMGen/dataset/snes_mvdb
14. Baselines/GVMGen/dataset/snes_mvdb_jsonl
14. Baselines/GVMGen/dataset/vgmgen

*__pycache__