ffmpeg==1.4
cycler==0.11.0
ffmpeg-python==0.2.0
future==1.0.0
kiwisolver==1.4.5
matplotlib==3.1.1
mysql-connector-python==8.0.17
numpy==1.17.2
protobuf==4.24.4
psycopg2==2.8.3
psycopg2-binary==2.9.9
PyAudio==0.2.11
PyDejavu @ https://github.com/worldveil/dejavu/zipball/master#sha256=5179c88712df107bdd19790ea3ffa3f49360b53ddb15cf83baaa72c112232695
pydub==0.23.1
pyparsing==3.1.4
python-dateutil==2.9.0.post0
scipy==1.3.1
six==1.17.0
tqdm==4.67.1
typing_extensions==4.7.1
